
<% if(theme.show_dates && is_post()) { %>
    <h1 class="title"><%- item.title || theme.default_post_title || "Untitled" %></h1>
    <h2 class="subtitle"><%- item.subtitle %></h2>
     <div class="meta">
        Maarten van den Ende - <%= item.date.format(config.date_format) %>
    </div> 
<% } else { %>
    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
<% } %>
<% if(item.cover_detail || theme.default_cover_detail) { %>
    <span class="image main"><img src="<%- item.cover_detail || theme.default_cover_detail %>" alt="" /></span>
<% } %>

<!-- Gallery -->
<% if (item.photos && item.photos.length){ %>
    <%- partial('gallery') %>
<% } %>

<!-- Content -->
<%- item.content %>

<!-- Tags -->
<%- partial('article-tags') %>

<!-- Comments -->
<div>
    <%- partial("_partial/comments.ejs") %>
</div>

